.school-container {
    height: 80%;
    min-height: 300px;
    display: flex;
}

.school-search-header {
  margin-left: 18px;
}

.school-search {
  background-color: #ecedf0;
    height: 80%;
    width: 25%;
    min-height: 300px;
}

.school-search form {
  width: 90%;
  margin: auto;
}

.school-search input {
  width: 100%;
  height: 32px;
}

.school-search input.school-search-button {
  min-width: 48px;
  width: 50%;
}

.school-list {
  background-color: #ecedf0;
  width: 75%;
    height: 80%;
    min-height: 300px;
}

.school-list-small {
  display: none;
}

.school-details input {
  width: 100%;
}

.school-details select {
  width: 100%;
  height: 28px;
}

.btn-school-details {
  margin: auto; 
  width: 100%;  
}

.btn-school-details button {
  margin-top: 5px;
  margin-right: 5px;
  margin-left: 5px;
}

.btn-school-details label {
  margin-right: 5px;
}

.btn-school-details button:disabled {
  background-color: #d3d3d3 !important;
  color: white !important;
}

.btn-school-details button:disabled:hover {
  background-color: #d3d3d3;
  cursor: not-allowed;
}

.school-detail-divider {
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}

.btn-school-assign {
  margin-top: 21px !important;
}

.create-school-form {
  padding: 10px;
}

.create-school-form input {
  width: 100%;
}

.create-school-required {
  border-color: red;
}

@media screen and (max-width: 800px) {
  #easter-egg {
    display: none;
  }
  
  .container.center {
    width: 90%;
  }

  .school-container {
    display: block;
  }

  .school-search {
    width: 100%;
    min-width: 300px;
    height: 80%;
  }

  .school-list {
    display: none;
  }

  .school-list-small {
    width: 100%;
    min-width: 300px;
    margin-top: 15px;
    display: block;
  }

  .school-search input.school-search-button {
    min-height: 48px;
  }

  .school-details select {
    min-height: 48px;
  }

  .school-search input {
    min-height: 48px;
  }

  .nav-pills li+li {
    margin-left: 0;
  }

  .list-inline {
      display: block;
      justify-content: center;
      width: 90%;
      margin-left: -18%;
  }

  .list-inline li {
    width: 100%;
    padding: 3px;
  }

  .list-inline li button {
    height: 48px;
    width: 100%;
    font-size: 16px;
  }

  .hide-column {
    display: none;
  }

  .responsive-row {
    width: 100%;
    color: blue;
    background-color: red;
  }

  .school-details input {
    height: 48px;
    width: 100%;
  }

  .btn-school-details button {
    width: 75px;
    min-width: 48px;
    height: 48px;
    float: left;
  }
}

.table-hover>tbody>tr:hover {
  background-color: #8ED1D3 !important;
}

.table-hover>thead>tr>th{
  border-bottom:none;
  margin-bottom: 5px;
}


.editing-jobsname-class button{
  margin-top: 5px;
  border-color: gray;
  color: gray;
}

.editing-jobsname-class button::first-letter {
  text-transform: uppercase;
}

.editing-jobsname-class button:hover {
	background-color: rgb(252, 247, 247);
  border-color: #00797A ;
  color: #00797A;
  }

.table-hover {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}