 /* FONT */

 


html {
    width: 100%;
    height: 100%
}

body {
    background-color: #F4F4F4;
    color: #007173;
    width: 100%;
}

.header {
  width: 100%;
}

.signin-container label {
  display: flex;
}

.navbar-default {
  background-color: #bbbbbb;
}

.user-form-container {
  max-width: 600px;
  width: 95%;
  display: inline-block;
  text-align: center;
}

.user-form-container input {
  width: 100%;
}

.user-form-container button {
  margin: 5px 5px 5px 0px;
}

.sortable-header {
  cursor: pointer;
}

.filter-options .col-md-4 {
  margin-bottom: 5px;
}

.table-status {
  text-align: center;
}

.table-status button {
  margin-right: 10px;
  margin-top: -5px;
  text-align: center;
}

.app-container-body {
  margin-top: 120px;
}


.user-list-container {
  color: black;
  margin-left: 50px;
}

.list-display {
  list-style-type: none;
}

.edit-profile-btn a {
  text-decoration: none;
}

.assigned-list {
  list-style: none;
}

.navbar__container a {
  color: #666;
}




.assigned-list li {
  padding: 6px 12px;
  width: 220px;
  line-height: 1.42857143;
  color: #666;
  background-color: #eee;
  margin-left: -40px;
  letter-spacing: 2px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom-width: 3px;
  margin-top: 5px;
  font-size: 14px;
}

.assigned-list li span {
  float: right;
  width: 15px;
  height: 40px;
  position: relative;
  margin-right: -10px;
}

.assigned-list li span:hover {
  color: grey;
  text-shadow: 0px 0px 1px black;
  cursor: pointer;
}

.groups-list li:hover {
  background-color: #e3e3e3;
  border-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.groups-list li:active {
  background-color: #ccc;
  border-color: rgba(0, 0, 0, 1.9);
}

.assigned-list a {
  text-decoration: none;
  color: #666;
}

.fixedDataTableRowLayout_rowWrapper {
  z-index: 0 !important;
}

.redux-form-error {
  color:#ff5f00;
}

.redux-form-success {
  color: green;
}

.redux-form-warning {
  color: orange;
}

.forgot_password {
  margin-left: 5px;
  font-size: 14px;
  font-style: italic;
}

/******* REACT-BOOTSTRAP-TABLE ******/
textarea {
  resize: none;
}

.expanded-btn-wrapper {
  position: relative;
}

.expanded-btn {
  margin: 5px;
  position: relative;
  bottom: -60px;
  outline: none;
  border: none;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  width: 70px;
  box-shadow: 2px 2px 1px #999;
}

.expanded-btn:active {
  box-shadow: 1px 1px 0px #666;
  transform: translateY(1px);
}

.expanded-btn:disabled {
  background-color: #d3d3d3;
}

.expanded-btn:disabled:hover {
  background-color: #d3d3d3;
}

.expanded-row {
  border-bottom: thin solid #ff0000;
}


.uppercase:first-letter {
  text-transform: uppercase;
}




.navbar-left {
  margin-left: 3px; 
  margin-top: 3px; 
}

.navbar-brand {
  padding-left: 3px;
  text-align: center;
}


/******* REACT-BOOTSTRAP-TABLE ******/

.center {
  text-align: center;
  margin: auto;
  width: 60%;
  padding: 10px;
}

.list-inline {
  display: flex;
  justify-content: center;
}

.list-inline button {
  outline: none;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  width: 210px;
  box-shadow: 2px 2px 1px #999;
}

.list-inline button:hover {
  background-color: #3e8e41;
}

.list-inline button:active {
  background-color: #3e8e41;
  box-shadow: 1px 1px 0px #666;
  transform: translateY(1px);
}

.btn-info {
  background-color: #fff;
  border-color: #ddd;
  color: #337ab7;
}

.btn-info:hover {
  background-color: #eee;
  border-color: #ddd;
  color: #337ab7;
}

.btn-info:focus {
  outline: none !important;
  background-color: #337ab7 !important;
  border-color: #337ab7 !important;
}

.btn-info:active {
  outline: none !important;
  background-color: #337ab7 !important;
  border-color: #337ab7 !important;
}

.btn-info.active {
  background-color: #337ab7 ;
  border-color: #337ab7;
}

.navbar-fixed-top {
  z-index: 1 !important;
}

.require-insert {
  border: 1px solid rgba(255, 0, 0, 0.8);
}

.react-bs-table-add-btn:focus {
  color: white;
}

.request-table-wrapper {
  width: 95%;
  margin: auto;
}

.nav-bg-white {
  background-color: white;
}

.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
  border: none;
}

.navbar__container {
  padding-left: 25px;
  padding-right: 20px;
}

.form-fillter-label {
  text-align: left !important;
    font-size: 11px !important;
    padding-right: 0px !important; 
    margin-top: -2px !important;
    font-weight: 400;
} 

.form-fillter-input {
  padding-left: 0px !important;
}

.form-fillter-input input, .form-fillter-input select {
  height: 24px !important;
  padding-bottom: 0px !important;
  padding-top: 0px !important;
  font-size: 11px !important;
}

.btn-apply-filter {
  background-color: rgb(32, 34, 34);
  color: white;
}



.query__filter {
  width: 80%;
    float: left;
    padding-top: 10px;
}
.query__filter__item {
  padding: 3px;
    background-color: #9B9B9B;
    color: #F4F4F4;
    border-radius: 3px;
    cursor: default;
    text-decoration: none;
    margin-left: 10px;
    float: left;
    margin-top: -6px;
    margin-bottom: 10px;
    margin-right: 10px;
    font-size: 12px;
}
.query__filter__item i {
  cursor: pointer;
    position: initial;
    float: right;
    margin-top: 3px;
    margin-left: 6px;
    padding-right: 1px;

}

.query__filter__item:focus, .query__filter__item:hover {
  color: #006668 !important;
  background-color: transparent;
  text-decoration: none !important;
  border: 1px solid #006668;
}

.loading__container {
  width: 100%;
  height: 100%;
  z-index: 99999;
  position: fixed;
  background: #80808096;
  top: 0;
}

.loading__container i {
  font-size: 45px;
    position: absolute;
    margin: auto;
    display: block;
    bottom: 0px;
    top: 0px;
    left: 50%;
    width: 45px;
    height: 45px;
}

.loading__container div {
  fill: rgb(255, 255, 255);
  height: 30px;
  width: 30px;
  margin: 25% auto;
}

.form-control:focus {
  border-color: #777;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px #006e6f38;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px #ccc;
}

/* PAGING COMPONENT */
.paging-container {
  height: 44px;
  float: right;
  margin-top: 3px;
}

.paging-container button {
  color:#A1A1A1;
}
.pagination {
  margin-top: 5px !important;
  float: right;
}

.paging-container__limit-record {
  margin-top: 5px;
  margin-right: 10px;
  width: 55px;
  float: left;
}
.sign-out-a {
  width: 100%;
}

.paging-container__limit-record .btn-group{
  box-shadow: 0px 0px #b2b3b6  !important;
}
.react-bs-container-body {
  border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}